
client/gigi/123/123.txt
client/gigi/123/Nuova cartella/123.txt
client/gigi/Nuovo documento di testo.txt
server/Backup/gigi/123/Nuova cartella/123.txt
server/gigi/123/123.txt
server/gigi/123/Nuova cartella/123.txt
server/gigi/Nuovo documento di testo.txt
